################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstGame/FirstGameWPF/Reports
/FirstGame/FirstGameWPF/obj/Debug
